<body>
  <div class="text-center make-it-green">
    <%= image_tag 'me.JPG', class: 'portfolio-picture img-fluid' %>
    <br/>
    <h2>Andy Strube</h2>
    Phone: 360-901-1553
    <br />
    Email: andystrube64@gmail.com
    <hr class="line">
    <a class="fa fa-github-square fa-3x make-it-green" href="https://github.com/Learningstuff98?tab=stars"></a>
    <span class="linkedin">
      <a class="fa fa-linkedin-square fa-3x make-it-green" href="https://www.linkedin.com/in/andy-strube-6231ba152/"></a>
    </span>
    <span class="resume">
      <a class="fa fa-file-text fa-3x make-it-green" href="https://docs.google.com/document/d/1qm4nBdIZfsx8zh4IwYvkVuQYclpOXUCVxnC9vV3_eBM/edit"></a>
    </span>

    <br/><br/>

    
    <div class="container">
      <div class="box col-10">
        <div class="sub-box">
          <span class="project-title">
            Blog-App
          </span>
          <%= link_to 'Go To Site', 'https://blog-app-andy-strube.herokuapp.com/', class: 'make-it-green'%>
          <a class="fa fa-github-square fa-2x make-it-green" href="https://github.com/Learningstuff98/Blog-App-andy-strube"></a>
        </div>
        <%= image_tag 'blog-app.png', class: 'picture img-fluid' %>
        <p>
          Users can start subblogs and post blogs and comments within subblog categories.
        </p>
        <p>
          Technical skills: CSS, HTML, PostgreSQL, Ruby on Rails, Rspec, React
        </p>
      </div>
    </div>

    <div class="container">
      <div class="box col-10">
        <div class="sub-box">
          <span class="project-title">
            Multiplayer Chess App
          </span>
          <%= link_to 'Go To Site', 'https://chess-app-rails-andy-strube.herokuapp.com/', class: 'make-it-green'%>
          <a class="fa fa-github-square fa-2x make-it-green" href="https://github.com/Learningstuff98/rails-chess-app"></a>
        </div>
        <%= image_tag 'chess.png', class: 'chess-picture img-fluid' %>
        <p>
          Chess app that lets users play against each other in real time.
        </p>
        <p>
          Technical skills: Ruby on Rails, React, PostgreSQL, axios
        </p>
      </div>
    </div>

    <div class="container">
      <div class="box col-10">
        <div class="sub-box">
          <span class="project-title">
            Nomster
          </span>
          <%= link_to 'Go To Site', 'https://nomster-andy-strube.herokuapp.com/', class: 'make-it-green'%>
          <a class="fa fa-github-square fa-2x make-it-green" href="https://github.com/Learningstuff98/nomster"></a>
        </div>
        <%= image_tag 'nomster.png', class: 'picture img-fluid' %>
        <p>
          Users can upload reviews, add photos and make comments about businesses that they've visited and see the business 
          location via google maps.
        </p>
        <p>
          Technical skills: Ruby on Rails, HTML, CSS, PostgeSQL.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="box col-10">
        <div class="sub-box">
          <span class="project-title">
            Flixter
          </span>
          <%= link_to 'Go To Site', 'https://flixter-andy-strube.herokuapp.com/', class: 'make-it-green'%>
          <a class="fa fa-github-square fa-2x make-it-green" href="https://github.com/Learningstuff98/flixter"></a>
        </div>
        <%= image_tag 'flixter.png', class: 'picture img-fluid' %>
        <p>
          Users can upload video courses that are divided up into sections and individual lessons. Users who uploaded 
          a course can rearrange the order of course sections and lessons.
        </p>
        <p>
          Technical skills: CSS, HTML, jQuery, PostgreSQL, Ruby on Rails.
        </p>
      </div>
    </div>

  </div>
</body>
