<body>
  <div class="text-center make-it-green">
    <%= image_tag 'me.JPG', class: 'portfolio-picture img-fluid' %>
    <br/>
    <h2>Andy Strube</h2>
    <h4>
      Phone: 360-901-1553
      <br />
      Email: andystrube64@gmail.com
    </h4>
    <hr class="line">
    <a class="fa fa-github-square fa-3x make-it-green" href="https://github.com/Learningstuff98?tab=stars"></a>
    <span class="linkedin">
      <a class="fa fa-linkedin-square fa-3x make-it-green" href="https://www.linkedin.com/in/andy-strube-6231ba152/"></a>
    </span>
    <span class="resume">
      <a class="fa fa-file-text fa-3x make-it-green" href="https://docs.google.com/document/d/1qm4nBdIZfsx8zh4IwYvkVuQYclpOXUCVxnC9vV3_eBM/edit"></a>
    </span>

    <br/><br/>

    <h3>About me</h3>

    <h4 class="container col-6">
      I'm a software engineer that's passionate about building the best possible applications
    </h4>

    <br/>

    <h3>Education</h3>

    <h4 class="container col-6">
      UC Berkeley Full Stack  Web Development Certification  March 2019 - August 2019
    </h4>

    <h4 class="container col-6">
      6 month coding bootcamp that focused on learning how to make full stack web applications using
      Ruby on Rails, Javascript and PostgreSQL.
    </h4>

    <br/>

    <h3>Technical Skills</h3>

    <h4 class="container col-6">
      Ruby on Rails, Javascript, PostgreSQL, TDD, Git, HTML, CSS
    </h4>

    <br/>

    <h4 class="container col-6">
      Since graduation, I've continued to develop applications for the sake of learning.
    </h4>

    <div class="completion-info make-it-green">Independent Post Graduation Projects</div>

    <div class="container">
      <div class="box col-10">
        <div class="sub-box">
          <span class="project-title">
            Chess
          </span>
          <span class ="project-links">
            <%= link_to 'Go to site', 'https://chess-andy-strube.herokuapp.com/', class: 'make-it-green'%>
            <%= " | " %>
            <%= link_to "See github repo", "https://github.com/Learningstuff98/chess", class: "make-it-green" %>
          </span>
        </div>
        <%= image_tag 'chess.png', class: 'picture chess-picture img-fluid' %>
        <h4>
          <p>
            Chess app that lets users play against each other in real time. Currently in development.
          </p>
          <p>
            Technical skills: Ruby on Rails, React, PostgreSQL, Axios, Rspec, Websockets
          </p>
        </h4>
      </div>
    </div>

    <div class="container">
      <div class="box col-10">
        <div class="sub-box">
          <span class="project-title">
            Todo-Tracker
          </span>
          <span class ="project-links">
            <%= link_to 'Go to site', 'https://todo-tracker-andy-strube.herokuapp.com/', class: 'make-it-green'%>
            <%= " | " %>
            <%= link_to "See github repo", "https://github.com/Learningstuff98/todo-tracker", class: "make-it-green" %>
          </span>
        </div>
        <%= image_tag 'todo-tracker.png', class: 'picture img-fluid' %>
        <h4>
          <p>
            Users can start projects, make development stages along with tickets and move tickets across different stages.
            Other users can see the updates happening in real time. Good for project meetings. Inspired by Trello.
          </p>
          <p>
            Technical skills: CSS, HTML, PostgreSQL, Ruby on Rails, React, Axios, Rspec, Websockets, Json
          </p>
        </h4>
      </div>
    </div>
    
    <div class="container">
      <div class="box col-10">
        <div class="sub-box">
          <span class="project-title">
            Video-App
          </span>
          <span class ="project-links">
            <%= link_to 'Go to site', 'https://video-app-andy-strube.herokuapp.com/', class: 'make-it-green'%>
            <%= " | " %>
            <%= link_to "See github repo", "https://github.com/Learningstuff98/video_app", class: "make-it-green" %>
          </span>
        </div>
        <%= image_tag 'video-app.png', class: 'picture img-fluid' %>
        <h4>
          <p>
            Users can start channels and upload videos to their channels. Users can make comments on videos. Users can subscribe to channels.
          </p>
          <p>
            Technical skills: HTML, CSS, PostgreSQL, Ruby on Rails, React, AWS, Rspec
          </p>
        </h4>
      </div>
    </div>

    <br/><br/>

    <div>
      Testing 123
    </div>

  </div>
</body>
